*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(Bilder/EiffelltårnSTOR.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family:'Times New Roman', Times, serif;

}
/*NAVBAR START*/
nav{
    width: 100%;
    color: white;
    font-size: 30px;
    margin-top: -3px;
    text-align: center;
   
}
.nav-meny{
    background-color: rgba(0, 0, 0, 0.514);
    margin-top: -60px;
    width: 100%;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
.språk1{
    display: none;
    visibility: hidden;
    list-style: none;
}
#LogoMonOncle{
    visibility: hidden;
    
}
/*NAVBAR SLUTT*/

/*Velkomsttekst på velkomstssiden START*/
.velkomstsidesection{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 50px;
}

.pitchen{
    padding: 5px;
    display: grid;
    text-align: center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    grid-template-columns:1fr 1fr;
    color: white;
    border-style: solid;
    border-color: black;
}
#Underline{
text-decoration: underline;
}
.Anmeldelser{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items:center;
    color: white;
    line-height: 50px;
}
#Eiffeltårn{
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: auto;
}
#terning{
padding-left: 10px;
height:auto;
width:25px;
}

#BildeAvKokk1{
    position:flex;
    border-style: solid;
    border-color: black;
}

/*CSS TIL FOOTER START*/
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: auto;    
    font-family: Arial, Helvetica, sans-serif;
}

.IkonerMidten{
   font-size: 15px;
   align-items: center;
   text-align: left;
   grid-template-columns: 1fr 1fr;
}
#Ikoner{
    padding: 20px;
    font-size: 30px;
    text-align: right;
    text-decoration: none;
    align-items: right;
}
#IkonLogo{
    width:200px;
    height: auto;
    align-items: center;
    text-align: center;
}

.åpningstider{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    line-height: 2;
    color: white;
    margin-top: 100px;
    padding: 20px;
    
}
.Rad1{
    margin: auto;
}
.Rad2{
    text-align: center;
    align-items: center;
    display: table-column;
    columns: 1fr 1fr;
    margin: auto;
    line-height:300%;
}
.Rad3{
    margin: auto
}
/*CSS TIL FOOTER SLUTT*/
/*Velkomsttekst på velkomstssiden SLUTT*/

/*Media innstillinger*/
@media (max-width: 1350px){
    #BildeAvKokk1{
    width: 500px;
    height: auto;
    }
}

@media (max-width: 1125px){
    #BildeAvKokk1{
    width: 400px;
    height: auto;
    }
    .BildeAvKokk{
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width:1150px){
    nav ul li a{
        font-size: 20px;
    }
}

@media (max-width: 900px){
    #BildeAvKokk1{
        width: 350px;
        height: auto;
    }
    .BildeAvKokk{
        font-size: 12px;
        line-height: 20px;
    }
    #kart{
    width: 80%;
    height: 50%;
    }
    .åpningstider{
        font-size: 12px;
    }
    .velkomstsidesection{
        font-size: 12px;
    }
}


@media (max-width:850px) {
    nav ul li a{
        font-size: 15px;
        color: white;
    }
}

@media (max-width: 800px){
    #BildeAvKokk1{
    width: 250px;
    height: auto;
    }
}


@media (max-width:710px){
    .checkbtn{
        display: block;
        padding: 30px;
        margin-top: -80px;
        font-size: 25px;    
    }
    #LogoMonOncle{
        list-style: none;
        visibility:visible;
        align-items: center;
        scroll-margin-block-end:unset;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all .5s;
        background-color:black;
        top: 172px;
        left: -100%;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }
    a:hover, a.aktiv{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .LogoToppen{
        display: none;
    }
    .nav-meny{
        width: 100%;
    }
    .navbar{
        position: fixed;
        background-color: rgba(0, 0, 0);
        margin: 0;
        left: 0;
        top: 0;
        padding: 5px;
    }
    /*Fjerner mulighet for å få bytte språk i listen, men får mulighet til å
     forandre språk ved siden av fa-bars*/
    .spraak{
        display: none;
    }
    .språk1{
        display: inline;
        color: white;
        visibility: visible;
        margin-top: -24px;
    }
    .navbarr{
        background-color: rgba(0, 0, 0, 0.514);
        padding: 50px;
    }
}
@media (max-width: 600px){
    #BildeAvKokk1{
    position: flex;
    display: block;
    margin: auto;
    align-items: center;
    margin-right:25%;
    margin-top: 10px;
    }
    .BildeAvKokk{
        position: flex;
        display: block;
        margin: auto;
        margin-top: 200px;
    }
    .IkonerMidten{
        font-size: 10px;
    }
}

@media (max-width:450px){
    .navbarr{
        padding: 10px;
    }
    .checkbtn{
        margin-right: 40px;
    }
    ul{
        top: 140px;  
    }
    nav ul li{
        line-height: 10px;
    }
    .språk1{
        font-size: 15px;
    }
    .pitchen{
        margin-top: 80px;
        grid-template-columns: 2fr;
    }
    .Anmeldelser{
        grid-template-columns: 2fr;
        font-size: 12px;
    }
}