*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(Bilder/EiffelltårnSTOR.jpg); /*Bilde fra: Flo Dahm, hentet ut 15.11.2022. Bildelink: https://www.pexels.com/nb-no/bilde/metall-kveld-arkitektur-hoy-699466/*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}
/*NAVBAR START*/
nav{
    background-color: black;
    color: white;
    list-style: none;
    width:100%;
    line-height: 30px;
}

nav ul li{
    background-color: black;
    font-size: 20px;
    list-style: none;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
    padding: 20px 5px;
}

a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
#LogoMonOncle{
    visibility: visible;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.LogoToppen{
    visibility: hidden;
}
.spraak{
    font-size: 15px;
    float: right;
}
.språk1{
/*Gir oss mulighet til å flytte på Engelsk/Norsk på en lettere måte enn å bruke margin*/
    visibility: hidden;
}
/*NAVBAR SLUTT*/

/*Velkomsttekst på velkomstssiden START*/
.velkomstsidesection{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 50px;
}

.pitchen{
    padding: 5px;
    display: grid;
    text-align: center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    grid-template-columns:1fr 1fr;
    color: white;
    border-style: solid;
    border-color: black;
}
#Underline{
text-decoration: underline;
}
.Anmeldelser{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items:center;
    color: white;
    line-height: 50px;
}
#BildeAvMonOncle{
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: auto;
}
#terning{
    padding-left: 10px;
    height:auto;
    width:25px;
}

#BildeAvKokk1{
    position:flex;
    border-style: solid;
    border-color: black;
}

/*CSS TIL FOOTER START*/
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: auto;    
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 2;
    color: white;
    margin-top: 100px;
    align-items: center;
    text-align: center
}

.IkonerMidten{
   font-size: 15px;
   align-items: center;
   text-align: left;
   grid-template-columns: 1fr 1fr;
}
#Ikoner{
    padding: 20px;
    font-size: 30px;
    text-align: right;
    text-decoration: none;
    align-items: right;
}
#IkonLogo{
    width:200px;
    height: auto;
    align-items: center;
    text-align: center;
}

.Rad2{
    text-align: center;
    align-items: center;
    display: table-column;
    columns: 1fr 1fr;
    margin: auto;
    line-height:300%;
}
.Rad3{
    margin: auto
}
#kart{
    width: 100%;
    height: auto;
}
/*CSS TIL FOOTER SLUTT*/
/*Velkomsttekst på velkomstssiden SLUTT*/

/*Media innstillinger*/
/*MEDIA 781-1130px: liten laptop*/
@media (max-width: 1130px){
/*Navbar*/
    .navbar{
    font-size: 15px;
    justify-content: space-evenly;
    }
    .spraak{
    font-size: 10px;
    margin-right: -20px;
    }
    
/*Velkomstsiide*/
    .velkomstsidesection{
    font-size: 12px;
    }
    #BildeAvKokk1{
    width: 350px;
    height: auto;
    }
    #BildeAvMonOncle{
    height: auto;
    width: 170px;
    }
    .Anmeldelser{
    font-size: 12px;
    }
    #Collum6{
    font-size: 10px;
    }
    
/*Footer*/
    .åpningstider{
    font-size: 12px;
    }

/*Meny*/
    
    
/*Reservasjon*/
    
/*Tilgjengelighetsside*/
    
/*DATA1100*/   
}

/*MEDIA 481-780px: Tablet/iPad*/
@media (max-width: 780px){
/*Navbar*/
    .checkbtn{
    display: block;
    padding: 1px;
    font-size: 20px;
    margin-top: -45px;
    margin-right: 50px; 
    cursor: pointer;   
    }
    #check:checked ~ ul{
    left: 0;
    }
    ul{
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    transition: all .5s;
    left: -110%;
    display: block;
    font-size: 20px;
    line-height: 50px;
    }
    a{
    top: 100px;
    color: white; 
    }
    a:hover, a.aktiv{
    background: none;
    color: white; 
    }
    .navbar{
    position: fixed;
    top: 0;

    }
/*Englesk/Norsk bytter plassering som nevnt tidligere */
    .spraak{
    visibility: hidden;
    }
    .språk1{
    visibility: visible;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    display: inline;
    }
    #LogoMonOncle{
    justify-content: space-evenly;
    }
    
    
/*Velkomstsiide*/
    .velkomstsidesection{
    margin-top: 99px;
    }
    .pitchen{ 
    padding: 20%;
    display:table-row;
    }
    .Anmeldelser{
    display: flow-root;
    line-height: 30px;
    align-items: center;
    text-align: center;
    }
    #BildeAvKokk1{
    width: 250px;
    height: auto;
    }
    #BildeAvMonOncle{
    width: 200px;
    height: auto;
    }
    #terning{
        width: 18px;
    }
   

/*Footer*/
    #IkonLogo{
    height: auto;
    width: 100px;
    }
    .Rad2{
    font-size: 12px;
    }
    
    .Rad3{
    font-size: 12px;
    }
    #instagram{
    margin-top: 0px;
    }

/*Meny*/
    
    
/*Reservasjon*/
    
/*Tilgjengelighetsside*/
    
/*DATA1100*/
    
}

/*MEDIA 320-480px: MOBIL*/
@media (max-width:480px){
/*Navbar*/
    .navbar {
    padding: 10px;
    }
    .checkbtn{
    margin-right: 20px;
    }
    .språk1{
    font-size: 9px;
    padding: 3px;
    }
    .spraak{
        display: none;
        content: remove;
    }

/*Velkomstsiide*/
    .velkomstsidesection{
    margin-top:105px;
    }
    .pitchen{
    margin-top: 80px;
    grid-template-columns: 2fr;
    }
    #BildeAvKokk1{
    width: 200px;
    }
    .Anmeldelser{
    grid-template-columns: 2fr;
    font-size: 12px;
    margin-bottom: 10px;
    }
    #terning{
    width: 15px;
    }
    #BildeAvMonOncle{
    width: 150px;
    }
/*Footer*/
    .Rad2{
    margin: 0;
    margin-bottom: 2%;
    }
    footer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
    }
    .åpningstider{
    padding: 1px;
    }

/*Meny*/


/*Reservasjon*/

/*Tilgjengelighetsside*/

/*DATA1100*/

}
