*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(Bilder/EiffelltårnSTOR.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}
/*NAVBAR START*/
nav{
    width: 100%;
    color: white;
    font-size: 30px;
    margin-top: -3px;
    text-align: center;
   
}
.nav-meny{
    background-color: rgba(0, 0, 0, 0.514);
    margin-top: -60px;
    width: 100%;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
.språk1{
    display: none;
    visibility: hidden;
    list-style: none;
}
#LogoMonOncle{
    visibility: hidden;
    
}
/*NAVBAR SLUTT*/

/*Velkomsttekst på velkomstssiden START*/
.velkomstsidesection{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 50px;
}

.pitchen{
    padding: 5px;
    display: grid;
    text-align: center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    grid-template-columns:1fr 1fr;
    color: white;
    border-style: solid;
    border-color: black;
}
#Underline{
text-decoration: underline;
}
.Anmeldelser{
    background-color: rgba(0, 0, 0, 0.550);
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items:center;
    color: white;
    line-height: 50px;
}
#BildeAvMonOncle{
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: auto;
}
#terning{
    padding-left: 10px;
    height:auto;
    width:25px;
}

#BildeAvKokk1{
    position:flex;
    border-style: solid;
    border-color: black;
}

/*CSS TIL FOOTER START*/
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: auto;    
    font-family: Arial, Helvetica, sans-serif;
}

.IkonerMidten{
   font-size: 15px;
   align-items: center;
   text-align: left;
   grid-template-columns: 1fr 1fr;
}
#Ikoner{
    padding: 20px;
    font-size: 30px;
    text-align: right;
    text-decoration: none;
    align-items: right;
}
#IkonLogo{
    width:200px;
    height: auto;
    align-items: center;
    text-align: center;
}

.åpningstider{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    line-height: 2;
    color: white;
    margin-top: 100px;
    padding: 20px;
    
}
.Rad1{
    margin: auto;
}
.Rad2{
    text-align: center;
    align-items: center;
    display: table-column;
    columns: 1fr 1fr;
    margin: auto;
    line-height:300%;
}
.Rad3{
    margin: auto
}
/*CSS TIL FOOTER SLUTT*/
/*Velkomsttekst på velkomstssiden SLUTT*/

/*Media innstillinger*/
/*MEDIA 781-1130px: liten laptop*/
@media (max-width: 1130px){
/*Navbar*/
    nav ul li a{
    font-size: 15px;
    color: white;
    }
    
/*Velkomstsiide*/
    .velkomstsidesection{
    font-size: 12px;
    }
    #BildeAvKokk1{
    width: 350px;
    height: auto;
    }
    #BildeAvMonOncle{
    height: auto;
    width: 170px;
    }
    .Anmeldelser{
    font-size: 12px;
    }
    #Collum6{
    font-size: 10px;
    }
    
/*Footer*/
    .åpningstider{
    font-size: 12px;
    }

/*Meny*/
    
    
/*Reservasjon*/
    
/*Tilgjengelighetsside*/
    
/*DATA1100*/   
}

/*MEDIA 481-780px: Tablet/iPad*/
@media (max-width: 780px){
/*Navbar*/
.navbar{
    position: fixed;
    background-color: rgba(0, 0, 0);
    margin: 0;
    left: 0;
    top: 0;
    padding: 5px;
    }
    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all .5s;
    background-color:black;
    top: 165px;
    left: -100%;
    }
    .nav-meny{
    background-color: black;
    font-size: 20px;
    line-height: 10px;
    width: 100%;
    background-color: black;
    font-size: 50px;
    top: 140px;
    height: 100%;
    } 
    /*Gjør at både logo og språkbytte-funksjonen forsvinner fra dropdown navbar og flytter seg øverst på navbar*/
    .LogoToppen{
    display: none;
    }
    .spraak{
    display: none;
    }
    .språk1{
    font-size: 15px;
    display: inline;
    color: white;
    visibility: visible;
    margin-top: -24px;
    }
    nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
    }
    a:hover, a.aktiv{
    background: none;
    color: white;
    }
    .checkbtn{
    display: block;
    padding: 30px;
    margin-top: -80px;
    font-size: 25px;    
    }
    #check:checked ~ ul{
    left: 0;
    }
    #LogoMonOncle{
    list-style: none;
    visibility:visible;
    align-items: center;
    scroll-margin-block-end:unset;
    }
    
/*Velkomstsiide*/
    .velkomstsidesection{
    margin-top: 99px;
    }
    .pitchen{ 
    padding: 20%;
    display:table-row;
    }
    .Anmeldelser{
    display: flow-root;
    line-height: 30px;
    align-items: center;
    text-align: center;
    }
    #BildeAvKokk1{
    width: 250px;
    height: auto;
    }
    #BildeAvMonOncle{
    width: 200px;
    height: auto;
    }
    #terning{
        width: 18px;
    }

/*Footer*/
    #IkonLogo{
    height: auto;
    width: 100px;
    }
    .Rad2{
    font-size: 10px;
    margin-left: -20%;
    }
    #kart{
    width: 70%;
    height: auto;
    margin-left: -40%;
    }
    .åpningstider{
    margin-top: 10px; 
    }   
/*Meny*/
    
    
/*Reservasjon*/
    
/*Tilgjengelighetsside*/
    
/*DATA1100*/
    
}

/*MEDIA 320-480px: MOBIL*/
@media (max-width:480px){
/*Navbar*/
    .navbar {
    padding: 10px;
    align-items: center;
    text-align: center;
    }
    .checkbtn{
    margin-right: 20px;
    }
    #LogoMonOncle{
    width: 100px;
    }

/*Velkomstsiide*/
    .velkomstsidesection{
    margin-top:105px;
    }
    .pitchen{
    margin-top: 80px;
    grid-template-columns: 2fr;
    }
    #BildeAvKokk1{
    width: 200px;
    }
    .Anmeldelser{
    grid-template-columns: 2fr;
    font-size: 12px;
    }
    #terning{
    width: 15px;
    }
    #BildeAvMonOncle{
    width: 150px;
    }
/*Footer*/
    .Rad1{
    width: 100%;
    height: auto;
    }
    #kart{
    margin-left: 0;
    }
    .Rad2{
    margin: 0;
    margin-bottom: 2%;
    }
    .åpningstider{
    display: grid;
    grid-template-columns: 1fr;
    }
    

/*Meny*/


/*Reservasjon*/

/*Tilgjengelighetsside*/

/*DATA1100*/

}







/*
@media (max-width: 1350px){
    #BildeAvKokk1{
    width: 500px;
    height: auto;
    }
}

@media (max-width: 1125px){
    #BildeAvKokk1{
    width: 400px;
    height: auto;
    }
    .BildeAvKokk{
    font-size: 15px;
    line-height: 20px;
    }
}

@media (max-width:1150px){
    nav ul li a{
    font-size: 20px;
    }
}

@media (max-width: 900px){
    #BildeAvKokk1{
    width: 350px;
    height: auto;
    }
    .BildeAvKokk{
    font-size: 12px;
    line-height: 20px;
    }
    #kart{
    width: 80%;
    height: 50%;
    }
    .åpningstider{
    font-size: 12px;
    }
    .velkomstsidesection{
    font-size: 12px;
    }
}


@media (max-width:850px) {
    nav ul li a{
    font-size: 15px;
    color: white;
    }
}

@media (max-width: 800px){
    #BildeAvKokk1{
    width: 250px;
    height: auto;
    }
    #BildeAvMonOncle{
        height: auto;
        width: 170px;
    }
    .Anmeldelser{
        font-size: 12px;
    }
}


@media (max-width:710px){
    *{
        max-width: 710px;
    }
    
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all .5s;
        background-color:black;
        top: 165px;
        left: -100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }
    a:hover, a.aktiv{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    .nav-meny{
        width: 100%;
        background-color: black;
        font-size: 50px;
    }
  
    
    .språk1{
        display: inline;
        color: white;
        visibility: visible;
        margin-top: -24px;
    }
    .navbarr{
        padding: 50px;
    }
}
@media (max-width: 600px){
   .pitchen{ 
    padding: 20%;
    display:table-row;
    }
    .Anmeldelser{
    display: flow-root;
    line-height: 30px;
    align-items: center;
    text-align: center;
    }
    #BildeAvMonOncle{
    width: 200px;
    height: auto;
    }
    #IkonLogo{
    height: auto;
    width: 100px;
    }
    .Rad2{
    font-size: 10px;
    margin-left: -20%;
    }
    #kart{
    width: 70%;
    height: auto;
    margin-left: -40%;
    }
    .åpningstider{
    margin-top: 10px; 
    }
}
@media (max-width:500px) {
    *{
        max-width: 500px;
    }
    .nav-meny{
    font-size: 15px;
    }
    .språk1{
    font-size: 15px;
    }
    ul{
    top: 140px;
    }
    .navbar {
        position: fixed;
        background-color: rgba(0, 0, 0);
        margin: 0;
        left: 0;
        top: 0;
        padding:0;
        align-items: center;
        text-align: center;
    }
    .åpningstider{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    }
    .Rad1{
    width: 100%;
    height: auto;

    }
    .Rad2{
    margin: 0;
    margin-bottom: 2%;
    }
    #kart{
        margin-left: 0;
    }
}

@media (max-width:450px){
    .navbar{
        padding: 10px;
    }
    .checkbtn{
        margin-right: 40px;
    }
    ul{
        top: 130px;  
    }
    nav ul li{
        line-height: 10px;
    }
    .språk1{
        font-size: 15px;
    }
    .pitchen{
        margin-top: 80px;
        grid-template-columns: 2fr;
    }
    .Anmeldelser{
        grid-template-columns: 2fr;
        font-size: 12px;
    }
}

@media (max-width:400px){
    .checkbtn{
        margin-right: 0px;
    }
    #LogoMonOncle{
        margin-right: 200px;
    }

}