*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}
/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
    #navbar{
    background: rgba(0, 0, 0, 0.571);
    }
    .aktiv{
        text-decoration: underline;
    }
<<<<<<< HEAD
/*---------------------------------------*/


body{
    background-color: black;
}

.flex{
    display:flex;
    flex-wrap: wrap;
    margin: 3%;
    padding: 10px;
    align-items: center;
}

.text{
    color: white;
    flex: 50%;
    max-width: 550px;
    padding: 20px;
    text-align: center;
}

.video{
    flex: 50%;
    padding: 20px;
}

#videostr{

    height: 300px;
    width: 100%
}

=======
    a:hover{
        text-decoration: underline;
    }
/*---------------------------------------*/
>>>>>>> 0b5cf8f399598f9b05e9a3fac07e807a67ca8a2e
