*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*NAVBAR START*/
nav{
    background-color: black;
    color: white;
    list-style: none;
    width:100%;
    line-height: 30px;
    z-index: 1; /* kreves kunn på denne siden pga bildene i crewet kom over nav*/
}

nav ul li{
    background-color: black;
    font-size: 20px;
    list-style: none;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
    padding: 20px 5px;
}

a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
.GridLogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: baseline;
}
#LogoDATA1100tekst{
    font-size: 30px;
}
.roter-45{
    transform: rotate(-20deg);
    text-align: right;
}
.roter45{
    transform: rotate(20deg);
    text-align: left;
}
#LogoDATA1100{
    width: 50px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
}
#LogoMonOncle{
    visibility: visible;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.LogoToppen{
    visibility: hidden;
}
.spraak{
    font-size: 15px;
    float: right;
}
.språk1{
/*Gir oss mulighet til å flytte på Engelsk/Norsk på en lettere måte enn å bruke margin*/
    visibility: hidden;
}
/*NAVBAR SLUTT*/

body{
    background-color: rgba(0, 0, 0, 0.879);
    background-image: url(bilder/DATA1100/avis.jpeg);
}


.background1100{
    background-image: url(Bilder/DATA1100/bakgrunnDATA1100.png); /*https://www.pexels.com/photo/man-reading-burning-newspaper-3278364/ fotograf: Danya Gutan */
    background-size: cover; 
    background-position-y: 35%;
}

.main1100{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
}

.heading1100{
    margin-top:65px;
    color: white;
    text-align: center;
    font-size: 250%;
    padding: 15px;
}

.main1100text{
    flex: 40%;
    font-size: 125%;
    background-color: rgba(0, 0, 0, 0.645);
    border-radius: 7%;
    color: white;
    padding: 20px;
    text-align: center;
    margin-left: 3%;
    margin-top: 2%;
    max-height: fit-content; /* safari. */
    max-height: 250px;
    line-height: 30px;
}

.main1100video{
    flex: 50%;
    padding: 20px;
    text-align: center;
}

#videostr{
    height: 300px;
    width: 100%;
    max-width: 600px;
}

/* linken til fake news wikipedia nettsiden START*/
.link1100{
    color:rgb(229, 255, 0);
    font-style:italic;
}

.link1100:hover{
    text-decoration: underline;
    color: aquamarine;
}
/* linken til wikipedia nettsiden SLUTT */

.heading21100{
    
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 200%;
    padding-top: 150px;
    
    
}

.crew1100{
    display: flex;
    flex-wrap: wrap;
}

.portrett1100{
    height: 165px;
    width: 160px;
    border-radius: 50%;
    filter: grayscale(25%);
        -webkit-filter: grayscale(25%);
    
}

.reporter1100{
    flex: 15%;
    text-align: center;
    padding: 20px;
}

.navn1100{
    color: white;
    text-align: center;
}

.fakenews1100{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.testtekst{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10%;
    width: auto;
    font-size: 20px;
    margin:50px;
    text-align: center;
}

.fakenews1100 > div >p{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10%;
    width: auto;
    margin:5%;
}

.fakenews1100 > div{
    padding: 50px;
    width: auto;
}

#newsmal{
    width: 600px;
    height: auto;
    margin: 20px;
    border-style: solid;
    border-color: black;
    text-align: center;
    align-items: center;
}

/*---- Fake news test ----*/
#click{
    display:none;
}

#click:checked ~ .popup{
    visibility: visible;
    opacity: 1;
}

#click2{
    display:none;
}

#click2:checked ~ .popup2{
    visibility: visible;
    opacity: 1;
}

#click3{
    display:none;
}

#click3:checked ~ .popup3{
    visibility: visible;
    opacity: 1;
}

.click-me{
    padding: 10px 60px;
    background: white;
    border:1px solid;
    outline:none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
}

.click-me:hover{
    background: rgb(209, 209, 209);
    transition: 0.5s;

}

.popup , .popup2 {
   max-width: 400px;
    width: auto;
    background:rgb(106, 30, 30);
    border-radius: 10px;
    position: absolute;
    left: 9%;
    text-align: center;
    padding: 15px;
    visibility: hidden;
    margin-top :40px;
}

.popup3{
    max-width: 400px;
    width: auto;
    background:rgb(32, 120, 27);
    border-radius: 10px;
    position: absolute;
    left: 9%;
    text-align: center;
    padding: 15px;
    visibility: hidden;
    margin-top: 40px;
}

.close-btn{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 1px 5px;
    border: 1px solid black;
    border-radius: 15px;
    background: white;

}

h3{
    font-size: 25px;
}

.popup>p,.popup2 >p,.popup3 > p{
    padding-bottom:10px;
}

/*CSS TIL FOOTER START*/
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: auto;    
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    color: white;
    align-items: center;
    text-align: center;
}
.Rad1{
    padding: 20px;
    text-align: left;
}
#OmOss{
    text-align: center;
}

.Rad2{
    align-items: center;
}
#FooterBilde{
    width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}
/*CSS TIL FOOTER SLUTT*/


/*Media innstillinger*/
/*MEDIA 781-1130px: liten laptop*/
@media (max-width: 1130px){
    /*Navbar*/
        .navbar{
        font-size: 15px;
        justify-content: space-evenly;
        }
        .spraak{
        font-size: 10px;
        /*margin-right: -20px; fak deg stian*/
        }
    /*Tilgjengelighetsside*/
        
    /*DATA1100*/ 
    .fakenews1100{
        display: grid;
        grid-template-columns: 2fr;
        font-size: 18px;
        padding: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .fakenews1100 > div{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #newsmal{
        width: 600px;
        height: auto;
    
    }
    .popup ,.popup2 ,.popup3{
        left: 0;
        margin-top: -200px;
        margin-left: 30%;
        width: auto;
    }

    .center{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
    
    /*MEDIA 481-780px: Tablet/iPad*/
    @media (max-width: 780px){
    /*Navbar*/
        .checkbtn{
        display: block;
        padding: 1px;
        font-size: 20px;
        margin-top: -45px;
        margin-right: 50px; 
        cursor: pointer;   
        }
        #check:checked ~ ul{
        left: 0;
        }
        ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        text-align: center;
        transition: all .5s;
        left: -110%;
        display: block;
        font-size: 20px;
        line-height: 50px;
        }
        a{
        top: 100px;
        color: white; 
        }
        a:hover, a.aktiv{
        background: none;
        color: white; 
        }
        .navbar{
        position: fixed;
        top: 0;
        padding-bottom: 10px;
        }
    /*Englesk/Norsk bytter plassering som nevnt tidligere */
        .spraak{
        visibility: hidden;

        }
        .språk1{
        visibility: visible;
        padding: 5px;
        font-size: 12px;
        line-height: 20px;
        display: inline;
        }
        #LogoMonOncle{
        justify-content: space-evenly;
        }  
        #LogoDATA1100tekst{
            font-size: 20px;
            margin-bottom: 10px;
        }
    /*DATA1100*/
    #newsmal{
        width: 400px;
        height: auto;
        margin:0;
    }

    .fakenews1100 > div >p{
        width: 300px;
        width: auto;
    }

    .popup ,.popup2 ,.popup3{
        left: 0;
        margin: 10%;
        margin-bottom: 20px;
    }
    .fakenews1100 > div{
    padding: 20px;
    }

    footer{
        grid-template-columns: 2fr; /*Gjør at bilde kommer under teksten i footer*/
    }
    #FooterBilde{
        width: 250px;
    }
}
    /*MEDIA 320-480px: MOBIL*/
    @media (max-width:480px){
    /*Navbar*/
        .navbar {
        padding: 10px;
        }
        .checkbtn{
        margin-right: 20px;
        }
        .språk1{
        font-size: 9px;
        padding: 3px;
        }
        .spraak{
            display: none;
            content: remove;
        } 
        #LogoDATA1100tekst{
            font-size: 17px;
        }

    /*DATA1100*/
        .heading1100{
            padding-top:50px;
        }
        .main1100text{
            max-height: fit-content;
            max-height:100%;
        }
    
        #newsmal{
            max-width: 300px;
            height: auto;
            width: auto;
            margin:0;
        }

        .fakenews1100 > div >p{
            width: 300px;
            width: auto;
        }

        .popup ,.popup2 ,.popup3{
            left: 0;
            margin: 10%;
            margin-bottom: 20px;
        }

        .fakenews1100 > div{
            padding: 5px;
            margin-top: 10px;
        }

        #FooterBilde{
            width: 200px;
        }
}