*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}
/*NAVBAR START*/
nav{
    background-color: black;
    color: white;
    list-style: none;
    width:100%;
    line-height: 30px;
}

nav ul li{
    background-color: black;
    font-size: 20px;
    list-style: none;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
    padding: 20px 5px;
}

a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
#LogoMonOncle{
    visibility: visible;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.LogoToppen{
    visibility: hidden;
}
.spraak{
    font-size: 15px;
    float: right;
}
.språk1{
/*Gir oss mulighet til å flytte på Engelsk/Norsk på en lettere måte enn å bruke margin*/
    visibility: hidden;
}
/*NAVBAR SLUTT*/


.body1100{
    background-color: black;
    background-image: url(bilder/bakgrunnDATA1100.png);
    background-repeat: repete;
    background-size: 100%;
    background-position-y: 30%;
}

.main1100{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
}

.heading1100{
    margin-top:40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 250%;
    padding: 20px;
}

.main1100text{
    flex: 40%;
    font-size: 125%;
    background-color: rgba(0, 0, 0, 0.645);
    border-radius: 7%;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3%;
    max-height: fit-content; /* får tekstboksen til å automatisk justere seg på visse nettlesere. */
    margin-top: 5%;
}

.main1100video{
    flex: 50%;
    padding: 20px;
    text-align: center;
}

#videostr{
    height: 300px;
    width: 100%;
    max-width: 600px;
}

/* linken til fake news wikipedia nettsiden START*/
.link1100{
    color:rgb(229, 255, 0);
    font-style:italic;
}

.link1100:hover{
    text-decoration: underline;
    color: aquamarine;
}
/* linken til wikipedia nettsiden SLUTT */

.heading21100{
    margin-top: 100px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 150%;
    padding: 20px;
}

.crew1100{
    display: flex;
    flex-wrap: wrap;
}

.portrett1100{
    height: 165px;
    width: 160px;
    border-radius: 50%;
    filter: grayscale(25%);
        -webkit-filter: grayscale(25%);
}

.reporter1100{
    flex: 15%;
    text-align: center;
    padding: 20px;
}

.navn1100{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


