*{
    padding: 0;
    margin: 0; 
    text-decoration: none;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    background: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
/*---------------------------------------*/

body{
    background: url("/Bilder/hovedbilde1.jpeg");
    background-repeat: no-repeat; 
    background-size: 100%;
    background-blend-mode: multiply;
}

.Tekstboks1{
    color: white;
    font-style: italic;
    border-style:solid;
    line-height: 25px;
    font-size: 20px;
    padding: 10px;
    max-width: 300px;
    display: block;
}

.Tekstboks2{
    color: white;
    max-width: 300px;
    font-style: italic;
    border-style:solid;
    line-height: 25px;
    font-size: 20px;
    padding: 10px; 
    display: block;
}

u{
    text-decoration: underline;
    color: white;
}
