*{
    padding: 0;
    margin: 0; 
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    background: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
/*---------------------------------------*/

body{
    background: url("/Bilder/Hovedbilde.webp");
    background-repeat: no-repeat; 
    background-size: 100%;
    background-blend-mode: multiply;
}

.Tekstboks1{
    color: white;
    display: inline;
    font-style: italic;
    border-style:solid;
    float: left;
    line-height: 25px;
    font-size: 20px;
    padding: 10px;
}
u{
    text-decoration: underline;
    color: white;
}
