*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
    #navbar{
    background: rgba(0, 0, 0, 0.571);
    }
    .aktiv{
        text-decoration: underline;
    }
/*---------------------------------------*/

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image:url(Bilder/MenyBakgrunn.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    



   
}

.menyen{
    text-align: justify;
    width: 30%;
    margin: 55%;
    margin-top: 40px;
    color: white;
    border: 5px solid white;
    padding: 3%;
 
    
}
.menyen2{
    text-align: justify;
    width: 30%;
    margin: 55%;

    color: white;
    border: 5px solid white;
    padding: 3%;

 
    
}

.menyen3{
    text-align:justify;
    width: 30%;
    margin: 55%;

    color: white;
    border: 5px solid white;
    padding: 3%;

 
    
}