*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    }
    a{
        display: block;
        color: white;
        
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
    #navbar
    
    .aktiv{
        text-decoration: underline;
    }
    a:hover{
        text-decoration: underline;
    }
/*---------------------------------------*/


body{
    background-repeat: no-repeat; 
    background-size: 100%;
    background-blend-mode: multiply;
    background: black;
    
    
}





.wrapper{

    display: flex;
    flex-flow:row wrap;
    text-align: center;
    color: white;
    font-size: larger;
    background: black;

}

    


.wrapper>*{
    padding: 10px;
    margin:10px;
    flex: 1 100%;
    border-radius: 10px;

   
}

.header{
    height: 120px;

}

.footer{
   
    height: 80px;
}

.main{
    text-align: center;
    height: 500px;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
   

}

.main p{
    margin-top: 12.5%;
    border: 5px solid white;
    padding: 5%;

}

.bordero{
    border: solid 5px;
}


.aside1{
background-image: url(Bilder/Bakgrunn1.jpg);
background-size: 127%;


}

.aside2{
background-image: url(Bilder/pexels-photo-2403391.jpg);
background-size: 127%;

}

.aside3{
background-image: url(Bilder/chef1.jpg);
background-size: 140%;

}

@media all and (min-width:800px){
    .main{
        flex: 2;
    }
}

.aside1{
    order: 4;
   
}

.aside2{
    order: 4;   
}

.aside3{
    order: 4;
    
}
.main{
    order: 8;
}

.footer{
order: 50;
background-color: black;
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}