*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
    #navbar
    
    .aktiv{
        text-decoration: underline;
    }
    a:hover{
        text-decoration: underline;
    }
/*---------------------------------------*/


body{
    background:  url("Bilder/hovedbilde1.jpeg");
    background-repeat: no-repeat; 
    background-size: 100%;
    background-blend-mode: multiply;
}


.wrapper{

    display: flex;
    flex-flow:row wrap;
    text-align: center;
    color: white;

}

    


.wrapper>*{
    padding: 10px;
    margin:10px;
    flex: 1 100%;
    border-radius: 10px;
   
}

.header{
    
    height: 120px;
}

.footer{
   
    height: 80px;
}

.main{
    text-align: left;
    height: 500px;
    font-size: 24px;
}

.aside1{
background-image: url(Bilder/pexels-photo-2403391.jpg);
background-size: 100%;




}

.aside2{
background-image: url(Bilder/Bakgrunn1.jpg);
background-size: 100%;

}

@media all and (min-width:800px){
    .main{
        flex: 3;
    }
}

.aside1{
    order: 1;
   
}

.aside2{
    order: 2.5;
    
}

.main{
    order: 2;
}

.footer{
order: 4;
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}