/*NAVBAR START*/
*{
padding: 0;
margin: 0;
text-decoration: none;
}
.navbar{
    background-color: black;
    color: white;
    list-style: none;
    width:100%;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
}
nav li{
    background-color: black;
    display: inline-flex;
    justify-content: space-evenly;
}

a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px 5px;
}
.checkbtn{
    font-size: 40px;
    float: right;
    display: none;
    cursor: pointer;
    color: white;
}
#check{
    display: none;
}
.språk1{
    display: none;
    visibility: hidden;
    list-style: none;
}
#LogoMonOncle{
    visibility: hidden;
}
.LogoToppen{
    float: left;
    margin-left: 5px;
}


/*NAVBAR SLUTT*/