*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

/*NAVBAREN*/
nav li ul{
    display: inline;
    float: left;
    text-decoration: none;
    }
    a{
        display: block;
        color: white;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        font-size: 25px;
    }
    #navbar{
    background: rgba(0, 0, 0, 0.571);
    }
    .aktiv{
        text-decoration: underline;
    }
/*NAVBAR slutt*/

.booking {
    padding: 10px;
    display: grid;
    text-align: center;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr;   
}
.reserver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

form select, form input{
    width: 70%;
    margin: 10px 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#submit{
    color: black;
}

#kart{
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    justify-items: center;
    align-items: center;
}