*{
    padding: 0px;
    margin: 0;
    text-decoration: none; 
    color: white;
}
body{
    background:  url("Bilder/kloster2.jpg");
    background-repeat: no-repeat; 
    background-size: 100%;
    background-blend-mode: multiply;
}


/*NAVBAR START*/
nav{
    width: 100%;
    color: white;
    font-size: 30px;
    margin-top: -3px;
}
.nav-meny{
    background-color: rgba(0, 0, 0, 0.514);
    margin-top: -60px;
    width: 100%;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white
}
.checkbtn{
    font-size: 20px;
    float: right;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
.spr책k1{
    display: none;
    visibility: hidden;
    list-style: none;
}
#LogoMonOncle{
    visibility: hidden;
    
}
/*NAVBAR SLUTT*/

.booking {
    padding: 10px;
    display: grid;
    text-align: center;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    grid-template-columns: 1fr 1fr;
}

#pitch{
    background-color: #8c8c923a;
}

.reserver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 30px;
}

form select, form input{
    width: 70%;
    color: black;
    margin: 10px 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#submit{
    color: black;
}

#nede{
    background-color: black;
    height: 350px;
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    line-height: 2;
}

#kart{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    justify-items: center;
    align-items: center;
}

/*Slideshow bilde p책 velkomstssiden START*/
#section2{
    height: 60vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    }
    
.slider{
    width: 530px;
    height: 330px;
    border-radius: 30px;
    border-style: solid;
    overflow: hidden;
    background-color:#000000;
    border-color: black;
    }

.slides{
    width: 500%;
    height: 60vh;
    display: flex;
    }

.slides input{
    display: none;
    }

.slide img{
    width: 530px;
    height: 330px;
    }
/*CSS for slide navigasjon*/
    
.navigasjon-manuell{
    position: absolute;
    width: 530px;
    display: flex;
    justify-content: center;
    background: none;
    background-color: none;
    }
    
.manuell-knapp{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;    
    }
    
.manuell-knapp:not(:last-child){
    margin-right: 40px;
    background-color: none;
    }
    
.manuell-knapp:hover{
    background: white;
    background-color: none;
    }
    
#sirkel1:checked~.forst{
    margin-left: 0;
    }
    
#sirkel2:checked~.forst{
    margin-left: -20%;
    }
    
#sirkel3:checked~.forst{
    margin-left: -40%;
    }
    
#sirkel4:checked ~ .forst{
    margin-left: -60%;
    }


    /*CSS TIL FOOTER START*/
footer{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: auto;    
}

.IkonerMidten{
   font-size: 20px;
}
#Ikoner{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.책pningstider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    line-height: 2;
    color: white;
    margin-top: 100px;
}
/*CSS TIL FOOTER SLUTT*/

@media only screen and (max-width: 750px){
    .booking{
        grid-template-columns: 1fr;
    }
    .slider{
        width: 350px;
        height: 50vh;
    }
}
/*Slideshow bilde p책 velkomstssiden SLUTT*/