*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}
/*NAVBAR START*/
nav{
    width: 100%;
    color: white;
    font-size: 30px;
    margin-top: -3px;
}
.nav-meny{
    background-color: rgba(0, 0, 0, 0.514);
    margin-top: -60px;
    width: 100%;
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
a.aktiv, a:hover{
    text-decoration: underline;
    color: white;
}
a{
    text-decoration: none;
    color: white
}
.checkbtn{
    font-size: 20px;
    float: right;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
.språk1{
    display: none;
    visibility: hidden;
    list-style: none;
}
#LogoMonOncle{
    visibility: hidden;
    
}
/*NAVBAR SLUTT*/

body{
    background:  url("Bilder/hehehe.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    height: 100vh;
    width: 100%;
}